In [37]:
import pandas as pd 
with open('./I94_SAS_Labels_Descriptions.SAS') as r:
    content=r.readlines()
content=[s.strip() for s in content]
ports=content[302:962]
data=[port.split('=') for port in ports]
port_code=[x[0].replace("'","").strip() for x in data]
both=[x[1].replace("'","").strip() for x in data]
cities_code= [x.split(",")[0] for x in both]
staties_code=[x.split(",")[-1] for x in both]

data_location=pd.DataFrame({'port_code': port_code,'cities_code':cities_code,'staties_code':staties_code})
data_location.head()

  port_code               cities_code staties_code
0       ALC                     ALCAN           AK
1       ANC                 ANCHORAGE           AK
2       BAR  BAKER AAF - BAKER ISLAND           AK
3       DAC             DALTONS CACHE           AK
4       PIZ    DEW STATION PT LAY DEW           AK

In [38]:
irregular_ports_df = data_location[data_location["cities_code"] == data_location["staties_code"]]
irregular_ports = list(set(irregular_ports_df["port_code"].values))
print(irregular_ports)

['RYY', 'PHF', 'CP', 'STN', 'AKT', 'W55', 'OAI', 'BCM', 'FTB', 'SCH', 'NGL', 'CLX', 'JIG', 'HRL', 'GMT', 'GAC', 'JFA', 'OLM', 'BUS', 'WAS', 'ADU', 'X96', '5T6', 'SP0', 'BKF', 'FSC', 'A2A', '060', 'UNK', 'DRV', 'PHN', 'VMB', 'WA5', 'NC8', 'SUS', 'EGE', 'DEC', 'MAP', 'JBQ', 'MAA', 'JMZ', '.GA', 'XXX', 'MTH', '888', 'NYL', 'TIW', 'AMT', 'OSN', 'PCW', 'XNA', 'ASI', 'PFN', 'JSJ', 'CPX', 'CXO', 'OGS', 'T01', 'ATW', 'WTR', 'AG', 'Y62', 'OTS', 'X44', 'FRG', 'PLB', 'LIT', 'YGF', 'ZZZ', 'CHN', 'AUH', 'DAY', 'NK', 'GPI', 'IAG', 'ISP', '74S']

In [40]:
airport=pd.read_csv("airport-codes_csv.csv")
airport.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

In [41]:
airport.dropna(subset=["iata_code"],inplace=True)
#airport.head()
airport.shape[0]

9189

In [42]:
airport=airport[airport["iso_country"]=="US"]
airport.shape[0]

2019

In [43]:
df_airport_codes = airport.merge(data_location, left_on="iata_code", right_on="port_code")
df_airport_codes.shape[0]

268

In [44]:
airport_filtered = df_airport_codes[~df_airport_codes["port_code"].isin(irregular_ports)]
airport_filtered.shape[0]

243

In [45]:
airport_filtered.drop(columns=["port_code"], inplace=True)

/opt/conda/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [46]:
airport_filtered.columns

Index(['ident', 'type', 'name', 'elevation_ft', 'continent', 'iso_country',
       'iso_region', 'municipality', 'gps_code', 'iata_code', 'local_code',
       'coordinates', 'cities_code', 'staties_code'],
      dtype='object')

In [47]:
airport_filtered=airport_filtered[['iata_code','name','type','local_code','coordinates','cities_code','elevation_ft','continent','iso_country','iso_region','municipality','gps_code']]   
airport_filtered.head()

,iata_code,name,type,local_code,coordinates,cities_code,elevation_ft,continent,iso_country,iso_region,municipality,gps_code
0,TKI,Tokeen Seaplane Base,seaplane_base,57A,"-133.32699585, 55.9370994568",TOKEEN,NaN,NaN,US,US-AK,Tokeen,57A
2,AXB,Maxson Airfield,small_airport,89NY,"-75.90034, 44.312002",ALEXANDRIA BAY,340.0,NaN,US,US-NY,Alexandria Bay,89NY
3,AUS,Austin Robert Mueller Municipal,closed,NaN,"-97.6997852325, 30.2987223546",AUSTIN,NaN,NaN,US,US-TX,NaN,KAUS
4,AUS,Austin Bergstrom International Airport,large_airport,AUS,"-97.6698989868164, 30.194499969482422",AUSTIN,542.0,NaN,US,US-TX,Austin,KAUS
5,BRG,Whitesburg Municipal Airport,closed,NaN,"-82.8742, 37.2219",BURLINGTON,1985.0,NaN,US,US-KY,Whitesburg,NaN

In [59]:
airport_filtered.to_csv('US_Airport.csv')