In [1]:
# Do all imports and installs here
import pandas as pd

In [2]:
fname = '../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat'
df = pd.read_sas(fname, 'sas7bdat', encoding="ISO-8859-1")

In [1]:
len(df)

NameError: name 'df' is not defined

In [5]:
with open('./I94_SAS_Labels_Descriptions.SAS') as r:
    content=r.readlines()
content=[s.strip() for s in content]
ports=content[302:962]
data=[port.split('=') for port in ports]
port_code=[x[0].replace("'","").strip() for x in data]
both=[x[1].replace("'","").strip() for x in data]
cities_code= [x.split(",")[0] for x in both]
staties_code=[x.split(",")[-1] for x in both]

data_location=pd.DataFrame({'port_code': port_code,'cities_code':cities_code,'staties_code':staties_code})
data_location.head()

  port_code               cities_code staties_code
0       ALC                     ALCAN           AK
1       ANC                 ANCHORAGE           AK
2       BAR  BAKER AAF - BAKER ISLAND           AK
3       DAC             DALTONS CACHE           AK
4       PIZ    DEW STATION PT LAY DEW           AK

In [6]:
wrong_ports=data_location[data_location['cities_code'] == data_location['staties_code']]
set_ports=list(set(wrong_ports['port_code'].values))
print(set_ports)

['DEC', 'OSN', 'NC8', '5T6', 'SP0', 'LIT', 'BCM', 'ASI', '74S', 'ATW', 'MAP', 'MAA', 'A2A', '060', 'GMT', 'FRG', 'TIW', 'PLB', 'JIG', 'JBQ', 'T01', 'DRV', 'X96', 'JSJ', 'PCW', 'PHN', 'CXO', 'ZZZ', 'PHF', 'SUS', 'Y62', 'FTB', '888', 'CHN', 'FSC', 'GPI', 'OTS', 'AG', 'SCH', 'AMT', 'CLX', 'EGE', 'IAG', 'OGS', 'AKT', 'W55', 'NYL', 'AUH', 'BUS', 'UNK', 'ISP', 'JMZ', 'CP', 'JFA', 'CPX', 'OLM', 'HRL', 'X44', 'RYY', 'XXX', 'STN', 'OAI', 'PFN', '.GA', 'BKF', 'NK', 'ADU', 'VMB', 'WAS', 'WTR', 'MTH', 'XNA', 'YGF', 'DAY', 'NGL', 'WA5', 'GAC']

In [7]:
df_port=df[~df['i94port'].isin(set_ports)]
len(df_port)

2995590

In [8]:
df_port.columns

Index(['cicid', 'i94yr', 'i94mon', 'i94cit', 'i94res', 'i94port', 'arrdate',
       'i94mode', 'i94addr', 'depdate', 'i94bir', 'i94visa', 'count',
       'dtadfile', 'visapost', 'occup', 'entdepa', 'entdepd', 'entdepu',
       'matflag', 'biryear', 'dtaddto', 'gender', 'insnum', 'airline',
       'admnum', 'fltno', 'visatype'],
      dtype='object')

In [9]:
df_port.drop(columns=["insnum", "entdepu", "occup"], inplace=True)
df_port.dropna(inplace=True)
print(len(df_port))

/opt/conda/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

1013345

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [10]:
fact_immr=df_port[['cicid', 'i94yr', 'i94mon', 'i94port', 'i94addr', 'arrdate', 'depdate', 'i94mode', 'i94visa']]
fact_immr.columns = ['cic_id', 'year', 'month', 'city_code', 'state_code', 'arrive_date', 'departure_date', 'mode', 'visa']
fact_immr["country"]="US"
fact_immr.head(5)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,cic_id,year,month,city_code,state_code,arrive_date,departure_date,mode,visa,country
12,27.0,2016.0,4.0,BOS,MA,20545.0,20549.0,1.0,1.0,US
13,28.0,2016.0,4.0,ATL,MA,20545.0,20549.0,1.0,1.0,US
14,29.0,2016.0,4.0,ATL,MA,20545.0,20561.0,1.0,2.0,US
15,30.0,2016.0,4.0,ATL,NJ,20545.0,20578.0,1.0,2.0,US
16,31.0,2016.0,4.0,ATL,NY,20545.0,20611.0,1.0,2.0,US

In [11]:
dim_vistior=df_port[['cicid', 'i94cit', 'i94res', 'biryear', 'gender']]
dim_vistior.columns = [['cic_id', 'citizen_country', 'residence_country', 'birth_year', 'gender']]
dim_vistior.head()

   cic_id citizen_country residence_country birth_year gender
12   27.0           101.0             101.0     1958.0      M
13   28.0           101.0             101.0     1960.0      F
14   29.0           101.0             101.0     1954.0      M
15   30.0           101.0             101.0     1967.0      M
16   31.0           101.0             101.0     1973.0      M

In [12]:
dim_airline = df_port[['cicid', 'airline', 'admnum', 'fltno', 'visatype']]
dim_airline.columns = ['cic_id', 'airline', 'admin_num', 'flight_number', 'visa_type']
dim_airline.head()

    cic_id airline     admin_num flight_number visa_type
12    27.0      LH  9.247876e+10         00422        B1
13    28.0      LH  9.247890e+10         00422        B1
14    29.0      AZ  9.250378e+10         00614        B2
15    30.0      OS  9.247021e+10         00089        B2
16    31.0      OS  9.247129e+10         00089        B2

In [13]:
dim_cities=pd.read_csv('us-cities-demographics.csv',delimiter=';')
dim_cities.head()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402

In [14]:
fname = '../../data2/GlobalLandTemperaturesByCity.csv'
dim_temp = pd.read_csv(fname)
dim_temp.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E

In [15]:
dim_temp=dim_temp[dim_temp["Country"]=='United States']
dim_temp.head(5)

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
47555,1820-01-01,2.101,3.217,Abilene,United States,32.95N,100.53W
47556,1820-02-01,6.926,2.853,Abilene,United States,32.95N,100.53W
47557,1820-03-01,10.767,2.395,Abilene,United States,32.95N,100.53W
47558,1820-04-01,17.989,2.202,Abilene,United States,32.95N,100.53W
47559,1820-05-01,21.809,2.036,Abilene,United States,32.95N,100.53W

In [16]:
dim_temp.dt=pd.to_datetime(dim_temp.dt)
dim_temp['year']=dim_temp['dt'].apply(lambda x:x.year)
dim_temp['month']=dim_temp['dt'].apply(lambda x:x.month)

dim_temp.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude,year,month
47555,1820-01-01,2.101,3.217,Abilene,United States,32.95N,100.53W,1820,1
47556,1820-02-01,6.926,2.853,Abilene,United States,32.95N,100.53W,1820,2
47557,1820-03-01,10.767,2.395,Abilene,United States,32.95N,100.53W,1820,3
47558,1820-04-01,17.989,2.202,Abilene,United States,32.95N,100.53W,1820,4
47559,1820-05-01,21.809,2.036,Abilene,United States,32.95N,100.53W,1820,5

In [33]:
import os
import glob
all_files = []
filepath="../../data/18-83510-I94-Data-2016"
for root, dirs, files in os.walk(filepath):
    files = glob.glob(os.path.join(root,'*.sas7bdat'))
    for f in files :
        all_files.append(os.path.abspath(f))
all_files.remove('/data/18-83510-I94-Data-2016/i94_jun16_sub.sas7bdat')
print(all_files)

['/data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat', '/data/18-83510-I94-Data-2016/i94_sep16_sub.sas7bdat', '/data/18-83510-I94-Data-2016/i94_nov16_sub.sas7bdat', '/data/18-83510-I94-Data-2016/i94_mar16_sub.sas7bdat', '/data/18-83510-I94-Data-2016/i94_aug16_sub.sas7bdat', '/data/18-83510-I94-Data-2016/i94_may16_sub.sas7bdat', '/data/18-83510-I94-Data-2016/i94_jan16_sub.sas7bdat', '/data/18-83510-I94-Data-2016/i94_oct16_sub.sas7bdat', '/data/18-83510-I94-Data-2016/i94_jul16_sub.sas7bdat', '/data/18-83510-I94-Data-2016/i94_feb16_sub.sas7bdat', '/data/18-83510-I94-Data-2016/i94_dec16_sub.sas7bdat']

In [34]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.\
config("spark.jars.repositories", "https://repos.spark-packages.org/").\
config("spark.jars.packages", "saurfang:spark-sas7bdat:2.0.0-s_2.11").\
enableHiveSupport().getOrCreate()

for file in all_files:
    df_spark = spark.read.format('com.github.saurfang.sas.spark').load('../..'+file)
    if file =='/data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat':
        data_set=df_spark
    else:
        data_set=df_spark.union(data_set)

In [ ]:
data_set.count()

In [51]:
# Performing cleaning tasks here
import datetime
def SAS_to_datetime(date):
    return datetime.fromtimestamp(date, tz = None)

fact_immr['arrive_date'] = SAS_to_datetime(fact_immr['arrive_date'])
fact_immr['departure_date'] = SAS_to_datetime(fact_immr['departure_date'])
fact_immr.head(5)

AttributeError: module 'datetime' has no attribute 'fromtimestamp'

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [ ]:
# Write code here

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [ ]:
# Perform quality checks here

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.